{% extends "kerko/item.html.jinja2" %}

{%- block item_field_citation %}
{%- for csl in config.kerko.zotero.csl_style %}
    {{- field(_("Citation " + csl), ('<div class="card"><div class="card-body">' + (item.get("cite_" + csl) or item.cite_abnt) + '</div></div>')|safe) }}
{%- endfor -%}
{%- endblock item_field_citation %}